:root {
    --approve: #6AC259;
    --black: #121420;
    --deny: #F05228;
    --empty-star: #BBBBBB;
    --gold: #FFD700;
    --main_accent: #7f95d1;
    /*v1.1 gray  #a1a6b4 launch silver: b3b1bb  green b6d7b9  grey bdb4bf / blue A5A4AE */
    --main_background: #d6dff0;
    /* alt blue rya #c6d8ff v1.1  */
    /* darkish blue b4c5e4 */
    /* dark gray aaabbc */
    /* launch gray: eff2ef */
    /* pinkish ffeddf */
    /* blue #D0D8FA */
    /* #e9eefc E6E6FA */
    --nav_accent: #4392f1;
    /* alt blue: #3d52d5 */
    /* hipster pinl: E1518F */
    /* rose  BB3A69   */
    /* blue: #4169E1 */
    --nav_background: var(--black);
    --shadow: rgba(0, 0, 0, .15);
    --star: var(--black);
    --white: #FFF;
    --nav_h2: var(--nav_accent)
}

html {
    -webkit-text-size-adjust: 100%;
    font-size: 10px;
    line-height: 1.15
}

body {
    color: var(--black);
    font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
    font-display: swap;
    font-weight: 300;
    font-size: 2rem;
    margin: 0;
    overflow-x: hidden
}


/* Select CSS * /

/* class applies to select element itself, not a wrapper element */

select {
    display: inline-block;
    line-height: 1.5;
    padding: 0 2rem 0 0;
    /* useful when width is set to anything other than 100% */
    box-sizing: border-box;
    margin: 0;
    border: 1px solid var(--main_accent);
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--white);
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23b3b1bb%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
    background-position: right .5rem top 50%, 0 0;
    /* icon size, then gradient */
    background-size: 1rem auto, 100%;
}


/* Hide arrow icon in IE browsers */

select::-ms-expand {
    display: none;
}


/* Hover style */

select:focus,
select:hover {
    border-color: var(--white);
}


/* Set options to normal weight */

select option {
    font-weight: normal;
}


/* End Select */

.halfoff {
    margin-left: -2rem;
}

#f1 {
    font-weight: 300;
    padding-left: .5rem
}

@keyframes ellipsis {
    to {
        width: 5rem;
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 5rem;
    }
}

user-photo.self {
    cursor: pointer;
}

#welcomeh2 {
    font-size: 5.5rem
}

#h1 {
    display: block;
    position: relative;
    margin: 1rem 0 3rem;
    z-index: 1;
}

#h1 svg {
    fill: var(--nav_accent);
    position: absolute;
    transform: rotate(28deg);
    top: 1rem;
    left: 10%;
    width: 80%;
    height: 100%;
    z-index: -25
}

#h1 .flower {
    opacity: .3;
    transform: rotate(13deg)
}

#user_h2 {
    margin-top: 0;
    padding-top: 0
}

.approve {
    border: thin solid var(--approve)
}

.flag,
.approve,
.deny {
    margin-top: -3.7rem
}

.flag svg,
.approve svg,
.deny svg {
    width: 100%;
    height: 100%;
}

.approve:active,
.flag:active,
.deny:active {
    margin-top: -22.5%
}

.copy {
    font-size: 1rem
}

.deny {
    border: thin solid var(--deny);
    margin-left: 7rem
}

.approve,
.flag {
    margin-left: 1rem;
}

#loading_wrapper loader-icon {
    display: block;
    position: absolute;
    left: 25rem;
    top: 0;
}

loader-icon svg {
    width: 100px;
    height: 100px;
}

.queue loader-icon svg {
    position: absolute;
    bottom: -3.25rem;
    left: 9.5rem;
}

.flag {
    background-color: var(--white);
    border-color: var(--white)!important
}

.gold {
    fill: var(--gold)!important
}

.half {
    -webkit-clip-path: inset(0 45% 0 0);
    clip-path: inset(0 45% 0 0);
}

.other_score:after,
.score:after {
    content: ")"
}

.other_score:before,
.score:before {
    content: "("
}

.progress,
contributors-wrapper li,
.votes_cast {
    color: var(--black)
}

.queue button {
    -moz-box-shadow: .5rem .5rem .5rem var(--shadow);
    -o-box-shadow: .5rem .5rem .5rem var(--shadow);
    -webkit-box-shadow: .5rem .5rem .5rem var(--shadow);
    border: 0;
    border-radius: 50%;
    box-shadow: .5rem .5rem .5rem var(--shadow);
    height: 4rem;
    padding: 0;
    position: absolute;
    width: 4rem
}

.queue button:hover,
.queue button:hover {
    border-radius: 50%;
    box-shadow: 0 0 .5rem var(--shadow)
}

.queue .error-code {
    color: var(--deny);
    font-size: 2rem;
    margin-top: 1rem
}

.rankings {
    font-weight: 700;
    margin: -2rem 0 4rem
}

.messages table div {
    display: inline-block;
    cursor: pointer;
}

.rankings span {
    display: none;
    font-weight: 300
}

.resend {
    float: right
}

.resend,
.logout {
    display: inline-block
}

.settings {
    width: 40rem
}

.settings button {
    margin: 0;
    text-align: left;
    width: 100%
}

.settings td {
    padding: 0
}

tr {
    background-color: var(--white);
}

.star {
    display: inline-block;
    fill: var(--star);
    height: 2rem;
    position: relative;
    top: .1rem;
    width: 2rem;
    z-index: 5;
}

.star_wrap {
    display: inline-block;
    line-height: 1
}

.star_wrap .half:hover {
    -webkit-clip-path: inset(0000);
    clip-path: inset(0000)
}

.star_wrap .star:hover~.star,
.off {
    z-index: 4;
    fill: var(--empty-star)
}

.star_wrap:hover svg {
    -webkit-clip-path: inset(0000);
    clip-path: inset(0000);
    fill: var(--gold)
}

.user button {
    background-color: var(--main_accent);
    border: none;
    color: var(--black)
}

button.submit_change {
    background-color: var(--nav_accent);
    text-indent: 0 !important;
    text-align: center
}

.vote:active {
    margin-top: .5rem
}

.votes_cast {
    font-size: 1rem;
    margin-top: 2.5rem;
    position: absolute
}

main section {
    padding-bottom: 4rem;
}

[hidden],
main section,
.logged_in,
approval-wrapper,
new-word,
loader-icon,
.resend,
.started_stories,
.your_stories,
.favorite_stories,
.messages,
change-password,
change-name,
change-email,
.error-code,
.start,
#warning,
suggest-title,
mobile-footer {
    display: none
}

#warning {
    background-color: var(--deny);
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

a,
a:link,
a:active,
main h2 a:link,
main h2 a:active {
    color: var(--black);
    text-decoration: none
}

a:visited,
main h2 a:visited {
    color: var(--black);
}

a:hover {
    font-weight: 700
}

b,
strong {
    font-weight: 700
}

button {
    display: block;
    margin: 0 0 2rem;
    padding: .5rem 1rem
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button
}

img {
    border-style: none
}

button,
input {
    overflow: visible
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
select {
    text-transform: none
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button-wrapper {
    display: inline-block;
    left: 0;
    position: relative;
    top: .6rem;
    width: 15rem
}

contributors-wrapper li:after {
    content: ", "
}

contributors-wrapper li:hover {
    font-weight: 700
}

contributors-wrapper li:last-child::before {
    content: "and "
}

contributors-wrapper li:first-child::before {
    content: "" !important;
}

contributors-wrapper li:last-child:after {
    content: ""
}

contributors-wrapper,
.user_h2_wrapper {
    margin-top: 2rem
}

footer {
    bottom: 0;
    background-color: var(--nav_background);
    position: absolute
}

nav h1 {
    font-size: 7rem;
    letter-spacing: -.4rem;
    margin: 0 0 0 -1rem;
    padding: 5.5rem 0;
    text-align: center;
    text-shadow: 2px 2px 0 var(--nav_accent), 5px 5px 0 var(--nav_background), 6px 6px 0 var(--nav_background), 7px 7px 0 var(--nav_background), 8px 8px 0 var(--nav_background), 10px 10px 10px var(--nav_background);
    text-transform: lowercase;
    transform: rotate(-4deg);
    font-display: block;
    z-index: 75;
    font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif
}

nav h1,
.copy,
nav h2,
main .star_wrap .star,
button,
contributors-wrapper li,
.title {
    cursor: pointer
}

h2 {
    margin: 0
}

contributors-wrapper h3 {
    position: relative;
}

h3 {
    color: var(--black);
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: -.1rem
}

input[type="password"],
input[type="text"],
pending-word {
    border: 0;
    border-bottom: .2rem dashed var(--main_accent);
    padding-bottom: 0
}

new-word input {
    width: 25rem
}

input[type="radio"] {
    margin-right: 1rem;
    margin-top: -.5rem;
    vertical-align: middle
}

loading {
    left: 28rem;
    position: absolute;
    /* top: 2rem;
    left: 28rem */
    left: 25rem
}

#loading_wrapper {
    position: relative;
    z-index: -2
}

main {
    display: none;
    margin-left: 25rem;
    min-height: 10rem;
    padding: 0 3rem 3rem
}

main h2 {
    color: var(--black);
    font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
    font-size: 4.5rem;
    font-weight: 700;
    letter-spacing: 0;
    text-shadow: 3px 3px 0 var(--shadow);
    padding-top: 2rem
    /*
    text-shadow: 2px 2px 0 var(--black), -1px -1px 0 var(--black), 1px -1px 0 var(--black), -1px 1px 0 var(--black), 1px 1px 0 var(--black)
*/
}

.user_h2_wrapper .error-code,
.user_h2_wrapper loader-icon {
    vertical-align: bottom;
}

change-email div {
    padding: 1rem;
}

the-story,
new-word,
approval-wrapper {
    color: var(--black);
    font-size: 3.5rem
}

suggest-title li {
    padding: .5rem 0;
}

main #welcome h2 {
    margin-bottom: 0
}

main,
body,
input {
    background-color: var(--main_background)
}

main,
nav,
the-title,
contributors-wrapper,
rating-wrapper {
    display: block
}

nav {
    background-color: var(--nav_background);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 25rem
}

recent-words,
the-story,
h3,
contributors-wrapper ul,
contributors-wrapper li {
    display: inline
}

nav h1:hover {
    text-shadow: 2px 2px 0 var(--nav_accent), 2px 2px 8px rgba(255, 215, 0, 0.7);
}

nav h2 {
    font-size: 2.75rem;
    margin: 0;
    padding: 1rem 0;
    text-indent: 1rem;
    font-weight: 300;
    z-index: 90
}

nav h2,
section,
footer,
.settings input {
    width: 100%
}

nav h2:hover {
    background-color: var(--nav_h2)
}

nav,
.noselect {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none
}

nav h1,
nav,
nav a:link,
nav a:active {
    color: var(--white);
    text-decoration: none
}

nav a:visited {
    color: var(--white);
}

new-word input,
the-story,
the-title,
suggest-title ul,
pending-word {
    font-family: 'IBM Plex Serif', Georgia, 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 2px var(--shadow);
    text-transform: lowercase
}

user-photo {
    display: inline-block;
    margin-right: 1rem;
    cursor: default;
    vertical-align: middle
}

user-photo img {
    height: 10rem;
    object-fit: cover;
    width: 10rem
}

rating-wrapper {
    margin: 2rem 0 4rem
}

#register {
    border: 1px solid var(--main_accent);
    border-radius: 2rem;
    margin-bottom: 3rem;
    padding: 2rem 1rem;
    text-align: center;
    width: 40rem;
    float: left
}

.rankings .earned {
    display: inline !important
}

suggest-title input[type="text"] {
    width: calc(100% - 5rem);
}

suggest-title .vote {
    position: relative;
    margin-bottom: 2rem;
}

suggest-title ul {
    margin-bottom: 4rem
}

table {
    border-collapse: collapse;
    max-width: 60rem;
    margin-bottom: 4rem;
    width: 100%
}

table .date {
    text-align: center;
    width: 14rem
}

table .rating {
    width: 10rem
}

table .title {
    text-transform: capitalize;
    min-width: 14rem
}

td {
    border: 0;
    padding: 1rem
}


/*
 .settings table,
 .settings td {
    border: 4px solid var(--black);
}
*/

change-email div {
    background-color: var(--main_background)
}

.settings button,
.settings input {
    padding: 1rem 0;
    text-indent: 1rem;
}

th {
    background-color: var(--nav_background);
    color: var(--white);
    letter-spacing: .1rem;
    padding: .5rem;
    text-align: center
}

the-story-wrapper {
    background-color: var(--white);
    border-radius: 0;
    box-shadow: 3px 3px 3px var(--shadow);
    display: block;
    margin: 4rem 8rem 4rem 0;
    padding: 2.5rem 2rem 3rem
}

suggest-title {
    margin-top: -4rem;
}

the-title,
suggest-title ul,
suggest-title input,
suggest-title li {
    font-size: 4.5rem;
    font-weight: 700;
    text-transform: capitalize
}

the-title {
    margin-top: -1rem;
}

.queue input {
    background-color: var(--white)
}

tr:first-child {
    border: 0
}

tr:nth-child(odd) {
    background-color: var(--main_accent)
}

ul {
    list-style: none;
    padding: 0
}

#welcome {
    margin-right: 2rem;
    /* max-width: 58rem */
}

#stats,
#recent_users,
#announcements,
#rules {
    margin-top: 4rem
}

#recent_users {
    margin-bottom: 3rem;
}

#highest img {
    width: 5rem;
    margin: 0 1rem 0 0;
    float: left;
}

#highest {
    cursor: pointer;
}

#recent_users_div img {
    display: inline-block;
    margin: 0 1rem 0 0;
    height: 5rem;
    object-fit: cover;
    width: 5rem;
    cursor: pointer;
}

#welcome p,
main h2,
the-title,
main section {
    margin-bottom: 2rem
}

pending-word {
    margin-left: -.5rem;
    width: auto
}

tr.more {
    background-color: transparent;
}

.more td {
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 4rem;
    line-height: 1rem;
}

#kurt {
    width: 100%;
    object-fit: cover;
    max-height: 20rem;
    object-position: 0 70%;
    border: solid var(--black) .5rem;
}

@media screen and (max-width:800px) {
    html {
        font-size: 8px
    }
    html,
    body {
        max-width: 100%;
        overflow-x: hidden
    }
    #recent_users_div {
        padding-left: 1rem
    }
    #h1 {
        height: 20rem;
        overflow: hidden;
        margin-bottom: 0;
    }
    #h1 svg {
        left: 50%;
        height: 18rem;
        width: 20rem;
        margin-left: -10rem;
        margin-top: -1rem;
    }
    nav h1 {
        padding: 4rem 0 1.5rem;
    }
    .settings {
        width: 100%
    }
    the-story-wrapper {
        margin: 4rem 0;
    }
    .user user-photo {
        display: block;
        text-align: center;
        margin-top: 2rem
    }
    main {
        margin: 0;
        padding: 0
    }
    main .not_logged_in {
        margin: 0
    }
    main .story,
    main .queue {
        margin: 0 5% 4rem;
        width: 90%
    }
    mobile-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: var(--nav_background);
        display: block;
        text-align: center;
        color: var(--white);
        padding: 1rem 0;
    }
    main p,
    main h2 {
        margin: 1rem
    }
    nav {
        padding: 1rem 0;
        position: static;
        text-align: center;
        width: 100%
    }
    nav h2 {
        padding: 1rem 0
    }
    #register {
        border: 0;
        float: none;
        padding: 1rem 0
    }
    #register h2,
    #user_h2,
    .rankings {
        text-align: center
    }
    #register,
    table {
        max-width: 100%;
        width: 100%
    }
    td.date,
    th.date,
    nav .copy {
        display: none
    }
    .rankings {
        margin-top: 1rem;
    }
    #loading_wrapper loader-icon {
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -50px;
    }
    table:last-of-type {
        margin-bottom: 1rem;
    }
    footer {
        /* "Profile" icon */
        position: static;
    }
    .queue loader-icon {
        position: relative;
    }
    .start,
    .about {
        position: relative;
        width: 90%;
        left: 5%;
    }
}