service firebase.storage {
  match /b/{bucket}/o {
    match /Custom_Photos/{userID} {
      
      allow read: if true;  
      allow write: if request.auth.uid == userID;

    }
  }
}
