service firebase.storage {
  match /b/{bucket}/o {
    match /Custom_Photos/{userID} {
      
      allow read: if true;  
      allow write: if request.auth.uid == userID &&
                      request.resource.size < 1.2 * 1024 * 1024 &&
                      request.resource.contentType.matches('image/.*');
    }
  }
}
